<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RUNEASE0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0001</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0002</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0004</key>
			<dict>
				<key>frame</key>
				<string>{{82,92},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0005</key>
			<dict>
				<key>frame</key>
				<string>{{164,92},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0007</key>
			<dict>
				<key>frame</key>
				<string>{{82,184},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0008</key>
			<dict>
				<key>frame</key>
				<string>{{164,184},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0010</key>
			<dict>
				<key>frame</key>
				<string>{{82,276},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0011</key>
			<dict>
				<key>frame</key>
				<string>{{164,276},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
			<key>RUNEASE0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,92}}</string>
				<key>sourceSize</key>
				<string>{82,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>runbefore.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>runbefore.png</string>
		</dict>
	</dict>
</plist>
